{% extends "base.html" %}
{% block title %} {{member.name}} {% endblock %}
{% block content %}

  <main id="member">  
    
    <div class="memberContainer">
      
      <h1>{{member.name|upper}} {{member.last_name|upper}}</h1> 
      <p class="profesion">{{member.position|upper}}</p>
      
      {%if member.image%} <!-- verifico que haya una imagen para que no se genere error -->
      <img src="{{member.image.url}}" alt="imagen del miembro">        
      {%endif%} 

      <div class="memberDetail">
        <p class="memberBio">{{member.bio}}</p>   
        <div>
          <p>Telefono: {{member.phone}}</p>
          <p>Email: {{member.email}}</p>
        </div>
      </div>

      
      
      
      
    </div>     
    <a href="/equipo/list-equipo" class="contactBtn">Volver a Equipo</a>            
    
  </main>
{% endblock %}
  